<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background:#090033">

<section>
<h1>&nbsp;</h1>
<div class = "form_title"><h style="color:white;font-size:40px;"><center>Fake Transparency Remover</center></h></div><br>
<h1>&nbsp;</h1>
<center>
      <div class="file_input_form" style="border: 5px solid #1C6EA4;
background: #002B80;
border-radius: 7px;">
&nbsp;
          <form method= "POST" action = "/" enctype="multipart/form-data">
              
              <div class = "file_input">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="file" name = "file" autocomplete="off" required ></div>
              <p style="color:white">Adjust Sensitivity</p>
              <div class = "range"><input type="range" name="enterRange" value="75" max="150" min="0" required></div>
              <h>&nbsp;</h>
              <div class = "submit_button">&nbsp;<input type="submit" name="submit_form" enctype="multipart/form-data"></div>
          </form>
      </div>
      </center>
</section>

</body>
</html>